html{
    padding: 0;
    margin-top:0;
    margin-left:0;
    margin-right: 0;
    background-color: #F1F1F1;
    overflow-x: hidden;
}
body {
    padding: 0;
    margin-top:0;
    margin-left:0;
    margin-right: 0;
    background-color: #F1F1F1;
    overflow-x: hidden;
    margin-bottom: 0;
}
.container {
 display:flex;
 margin-right:0;
 margin-left:0;
 padding-top: 2%;
 flex-direction: column;
 align-items: center;
 /* border: 3px black solid ; */
 
}

.rectangle {
    width: 30px;
    height: 10px;
    background-color: black;
}
.unknown{
    text-align: center;
    color: blanchedalmond;
    padding: 10px;
}

p {
    margin-top: 0;  
}
/* __________________________________________________________________________________ */
.cont1 {
    margin-top: 4rem;
    margin-left: 3%;
    display:flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    width: 100%;
    padding-right: 20px;
    flex-direction: row;
   /* justify-content: space-between; */
  /* border: 2px red solid; */
    
}
.cont2 {
    margin-top: 0;
    margin-left: 3%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    height: auto;
    margin-right: 20px;
    flex-direction: row;
   justify-content: space-between;
  /* border: 2px rgb(42, 216, 193) solid;  */
}

.popular-posts-box ul li {
    list-style-type:none;
}
.workshop-img {
    width:50px;
    height:50px;
}
.woods-box {
    width:65%;
    height: auto;
    background-color: #FFFBFB;
    box-shadow: 5px 5px 5px #CCCCCC;
    margin-bottom: 25%;
    }
.woods-box-under-img {
    padding-left: 20px;
    padding-right: 20px;
}

.woods-img {
    width: 100%;
}

.title-description {
    font-size: 24px;
    font-weight: lighter;
    margin-top: 5px;
}
.title-heading {
    font-size: 27px;
}
.title-description span{
    font-weight: lighter;
    font-size:18px;
    color: #948c8c;
}
.woods-box-under-img p{
margin-bottom: 40px;        
}
.read-more-comments1 {
    display: flex;
}
.read-more1 {
    width:130px;
    height:50px;
    background-color: #FFFBFB;
    border:0.5px solid rgb(167, 162, 162);
    margin-right:70%;
    margin-bottom: 30px;
}
.read-more1:hover{
    background-color: #CCCCCC;
}
.comments1 {
    font-size: 24px;
    align-self: flex-end;
    margin-bottom: 30px;
}
.black-box {
    width:20px;
    height: 20px;
    background-color: black;
    align-self: flex-end;
    margin-left:10px;
    margin-right:10px;
    margin-bottom: 30px;
}
.zero{
    color: blanchedalmond;
    padding-left:8px;
    padding-right:8px;
    text-align: center;  
}
/* _____________________________________Avatar__________________________________________ */
.avatar-box {
    width: 100%;
    height: auto;
    background-color:#FFFBFB ;
    display: flex; 
    flex-direction: column;
    margin-right:30px;
    box-shadow: 5px 5px 5px #CCCCCC;
}
.avatar-box-under-img {
    padding-left: 20px;
    padding-right: 20px;
}
.my-name {
    font-size: 27px;
}
/*-----------------------------popular post box-----------------------------------*/
.popular-posts-box {
    width:100%;
    height: auto;
    background-color:#FFFBFB ;
    border: 0.5px solid rgb(211, 205, 205);
    /* margin-right:30px; */
    box-shadow: 5px 5px 5px #CCCCCC;
    margin-top: 20px;
}
.popular-post-box-under {
    background-color: #F1F1F1;
    padding: 15px;
    height: 15%;
    font-size: 20px;
    font-weight: lighter;
}
.popular-post-img {
    width:20%;
    height: 20%;
}
#popular-post-img4 {
    padding-top: 20px;
}
.lorem {
    padding-top: 0;
}
.li-1 {
    display: flex;
    padding-bottom: 20px;
}
.lorem-span {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
    font-weight: lighter;
    font-size: 20px;
}
.grey-line {
    border: rgb(204, 198, 198) 0.05px solid;
    width:100%;
}
.li-2 {
    display: flex;
    padding-bottom: 20px; 
    padding-top:20px;
}
.ipsum-span {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
    font-weight: lighter;
    font-size: 20px;
}
.li-3 {
    display: flex;
    padding-bottom: 20px;
    padding-top:20px;
}
.dorum-span {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
    font-weight: lighter;
    font-size: 20px;
}
.li-4 {
    display: flex;
    padding-bottom: 20px; 
}
.rock-span {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
    font-weight: lighter;
    font-size: 20px;
}
/*-----------------------------------------------Tags-------------------------------*/
.tags-box {
    width:100%;
    height: auto;
    background-color:#FFFBFB ;
    border: 0.5px solid rgb(211, 205, 205);
    /* margin-right:30px; */
    box-shadow: 5px 5px 5px #CCCCCC;
    margin-top: 20px;            /*this is important!*/
}


.tags-h4 {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    height: 30px;
    background-color: #F1F1F1;
    font-size: 28px;
    font-weight:lighter;
}

.tags-classes {
    margin:10px;
    width:auto;
    height: auto;
    font-size: 15px;
    border: 0.5px solid rgb(226, 220, 220);
    background-color:#faf8f8;
    
}


/* ___________________________Bridge box______________________________________________ */
.bridge-box {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: auto;
    margin-top: 5px;
    background-color: #FFFBFB;
    box-shadow: 5px 5px 5px #CCCCCC;
    margin-bottom: 6%;
    position:relative;
    top:0;
}
.bridge-box-under-img {
    padding-left: 20px;
    padding-right: 20px;
}
.bridge-box-img {
width: 100%;
height: auto;
}
.blog-entry {
    font-size: 27px;
}
.read-more-comments2 {
    display: flex;
}
.read-more2 {
    width:130px;
    height:50px;
    background-color: #FFFBFB;
    border:0.5px solid rgb(167, 162, 162);
    margin-right:70%;
    margin-bottom: 30px;
}
.read-more2:hover{
    background-color:#CCCCCC;
}
.comments2 {
    font-size: 24px;
    align-self: flex-end;
    margin-bottom: 30px;
}
.black-circle {
    width:20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    align-self: flex-end;
    margin-left:10px;
    margin-right:10px;
    margin-bottom: 30px;
}
.footer {
    background-color: #616161;
    width: 100%;
    height: 180px;
    margin-bottom: 0;
}
.previous {
    width: 100px;
    height: 55px;
    background-color: #555252;
    color: rgb(170, 164, 164);
    margin-top: 30px;
    margin-left: 20px;
    border: #818181;
}
.next {
    width: 100px;
    height: 55px;
    background-color: #242323;
    color: rgb(170, 164, 164);
    margin-top: 30px;
    margin-left: 3px;
    border: #818181;
}
.footer p {
    margin-left: 20px;
    margin-top:40px;
    color: rgb(252, 245, 237);
}
.footer p a {
    color: rgb(252, 245, 237); 
}