body {
    padding: 0;
    margin-top:0;
    background-color: #F1F1F1;
    overflow-x: hidden;
}
.container {
 display:flex;
 padding-top: 2%;
 flex-direction: column;
 align-items: center;
}

.rectangle {
    width: 30px;
    height: 10px;
    background-color: black;
}
.unknown{
    text-align: center;
    color: blanchedalmond;
    padding: 10px;
}

p {
    margin-top: 0;  
}
/* __________________________________________________________________________________ */
.cont1 {
    margin-top: 4rem;
    margin-left: 3%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 20px;
    flex-direction: row;
   justify-content: space-between;
    
}
.woods-box {
    width:65%;
    height: auto;
    background-color: #FFFBFB;
    box-shadow: 5px 5px 5px #CCCCCC;
    }
.woods-box-under-img {
    padding-left: 10px;
    padding-right: 10px;
}

.woods-img {
    width: 100%;
}

.title-description {
    font-size: 24px;
    font-weight: lighter;
    margin-top: 5px;
}
.title-heading {
    font-size: 27px;
}
.title-description span{
    font-weight: lighter;
    font-size:18px;
    color: #948c8c;
}
.woods-box-under-img p{
margin-bottom: 40px;        
}
.read-more-comments1 {
    display: flex;
}
.read-more1 {
    width:130px;
    height:50px;
    background-color: #FFFBFB;
    border:0.5px solid rgb(167, 162, 162);
    margin-right:70%;
    margin-bottom: 30px;
}
.read-more1:hover{
    background-color: #CCCCCC;
}
.comments1 {
    font-size: 24px;
    align-self: flex-end;
    margin-bottom: 30px;
}
.black-box {
    width:20px;
    height: 20px;
    background-color: black;
    align-self: flex-end;
    margin-left:10px;
    margin-right:10px;
    margin-bottom: 30px;
}
.zero{
    color: blanchedalmond;
    padding-left:8px;
    padding-right:8px;
    text-align: center;  
}
/* ___________________________________________________________________________________ */
.bridge-box {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: auto;
    margin-top: 40px;
    background-color: #FFFBFB;
    box-shadow: 5px 5px 5px #CCCCCC;
}
.bridge-box-under-img {
    padding-left: 10px;
    padding-right: 10px;
}
.bridge-box-img {
width: 100%;
height: auto;
}
.blog-entry {
    font-size: 27px;
}
.read-more-comments2 {
    display: flex;
}
.read-more2 {
    width:130px;
    height:50px;
    background-color: #FFFBFB;
    border:0.5px solid rgb(167, 162, 162);
    margin-right:70%;
    margin-bottom: 30px;
}
.read-more2:hover{
    background-color:#CCCCCC;
}
.comments2 {
    font-size: 24px;
    align-self: flex-end;
    margin-bottom: 30px;
}
.black-circle {
    width:20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    align-self: flex-end;
    margin-left:10px;
    margin-right:10px;
    margin-bottom: 30px;
}