body {
    padding: 0;
    margin-top:0;
    background-color: #F1F1F1;
    overflow-x: hidden;
}
.container {
 display:flex;
 padding-top: 2%;
 flex-direction: column;
 align-items: center;
}

.rectangle {
    width: 30px;
    height: 10px;
    background-color: black;
}
.unknown{
    text-align: center;
    color: blanchedalmond;
    padding: 10px;
}

p {
    margin-top: 0;  
}
/* ---------------------------------------------------------------------------------- */
.cont1 {
    margin-top: 4rem;
    margin-left: 1%;
    display:flex;
    width: 100%;
    flex-direction: row;
}

.woods-box-under-img {
    padding-left: 10px;
    padding-right: 10px;
}
.woods-box {
width:65%;
height: auto;
background-color: #FFFBFB;
}
.woods-img {
    width: 100%;
}

.title-description {
    font-size: 24px;
    font-weight: lighter;
    /* border: 1px grey solid; */
    margin-top: 5px;
}
.title-heading {
    font-size: 27px;
    /* border: 1px grey solid; */
}
.title-description span{
    font-weight: lighter;
    font-size:18px;
    color: #948c8c;
}
.woods-box-under-img p{
margin-bottom: 40px;        
}
.read-more-comments {
    display: flex;
}
.read-more {
    width:130px;
    height:50px;
    background-color: #FFFBFB;
    border:0.5px solid rgb(167, 162, 162);
    margin-right:70%;
}

.comments {
    font-size: 24px;
    align-self: flex-end;
}
.black-box {
    width:20px;
    height: 20px;
    background-color: black;
    align-self: flex-end;
    margin-left:10px;
    margin-right:10px;
}
.zero{
    color: blanchedalmond;
    padding-left:8px;
    padding-right:8px;
    text-align: center;  
}